
<section class="container mt-4">
  <form [formGroup]="registroForm">

    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" formControlName="nombre">
    <section *ngIf="nom?.invalid && (nom?.dirty || nom?.touched)">
      <section class="alert alert-success">
        El Nombre no puede quedar vacio
      </section>
    </section>

    <label for="email">Email:</label>
    <input type="text" class="form-control" formControlName="email">
    <section *ngIf="ema?.invalid && (ema?.dirty || ema?.touched)">
      <section *ngIf="ema?.errors?.['required']" class="alert alert-success">
        El Email no puede quedar vacio
      </section>
      <section *ngIf="ema?.errors?.['pattern']" class="alert alert-success">
        Email inválido
      </section>
    </section>

    <label for="mensaje">Mensaje:</label>
    <textarea id="" cols="30" rows="6" class="form-control" formControlName="mensaje"></textarea>
    <section *ngIf="men?.invalid && (men?.dirty || men?.touched)">
      <section class="alert alert-success">
        El mensaje no puede quedar vacio
      </section>
     
    </section>
    <h5 *ngIf="alert == 'tres'" [ngStyle]="{'color':'red'}" class="mt-3">Alguna validación no se ha cumplido</h5>
    <button class="btn btn-primary mt-2" (click)="onSubmit()">Confirmar</button>
    <h5 *ngIf="alert == 'dos'" [ngStyle]="{'color':'blue'}" class="mt-3">Todos los datos son validos</h5>
  
  </form>
</section>
